# Reown / WalletConnect
NEXT_PUBLIC_PROJECT_ID=

# Telegram
NEXT_PUBLIC_TG_BOT_USERNAME=

# Backend (Postman doc examples: http://localhost/api/...)
# Set this to your backend origin (no trailing slash)
NEXT_PUBLIC_API_BASE_URL=http://localhost

# Disable backend requests and use mock data instead
NEXT_PUBLIC_BE_DISABLED=true


