@import "tailwindcss/theme";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  /* Semantic colors */
  --color-primary: #F5CF31;
  --color-primary-focus:#CCAC2A;
  --color-primary-content:#0C0E12;

  --color-secondary: #00A4F2;
  --color-secondary-focus: #0392D5;
  --color-secondary-content: #0C0E12;

  --color-accent: #F5CF31;
  --color-accent-focus: #CAA715;
  --color-accent-content: #FFFFFF;

  --color-neutral: #1A273A;
  --color-neutral-focus: #121B28;
  --color-neutral-content: #F8F8F8;

  --color-base-100: #161A21;
  --color-base-200: #0C0E12;
  --color-base-300: #1C2737;
  --color-base-content:#F7F9FA;

  --color-info: #06B6D4;
  --color-info-content: #164E63;

  --color-success: #4ADE80;
  --color-success-content: #14532D;

  --color-warning:#EAB308;
  --color-warning-content: #713F12;

  --color-danger:#F87171;
  --color-danger-content: #7F1D1D

  /* Typography */
  --text-h1: 48px;
  --leading-h1: 40px;

  --text-h2: 36px;
  --leading-h2: 32px;

  --text-h3: 24px;
  --leading-h3: 28px;

  --text-h4: 16px;
  --leading-h4: 24px;

  --text-body: 16px;
  --leading-body: 24px;

  --text-sm: 14px;
  --leading-sm: 20px;

  --text-xs: 12px;
  --leading-xs: 26px;
}

:root {
  --background: var(--color-base-200);
  --foreground: var(--color-base-content);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-iransans), 'IRANSansXV', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Thin, dark scrollbars (mobile-like) */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-base-300) transparent;
}

/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--color-base-300), var(--color-base-200));
  border-radius: 9999px;
  border: 2px solid transparent; /* creates padding */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, color-mix(in oklab, var(--color-base-300) 90%, black), var(--color-base-200));
}

/* Font utility classes */
.font-iransans {
  font-family: var(--font-iransans), 'IRANSansXV', sans-serif;
}

.font-kalame {
  font-family: var(--font-kalame), sans-serif;
}


@keyframes riseGlow {
  0% {
    box-shadow: 0 20px 30px rgba(245, 207, 49, 0.6); /* Start strong at bottom */
  }
  100% {
    box-shadow: 0 -20px 50px rgba(245, 207, 49, 0); /* Rise up, fade out, more blur */
  }
}

.rise-glow {
  animation: riseGlow 1.5s ease-out forwards;
}